@import "../variables";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";

@mixin microScreen {
  @include from(0) {
    @include until($micro) {
      @content;
    }
  }
}

@mixin smallScreen {
  @include from($micro) {
    @include until($tablet) {
      @content;
    }
  }
}

@mixin mediumScreen {
  @include from($tablet) {
    @include until($desktop) {
      @content;
    }
  }
}

@mixin mediumLargeScreen {
  @include from($desktop) {
    @include until($widescreen) {
      @content;
    }
  }
}

@mixin largeScreen {
  @include from($widescreen) {
    @include until($fullhd) {
      @content;
    }
  }
}

@mixin extraLargeScreen {
  @include from($fullhd) {
    @content;
  }
}

.my-description  {
  h1, h2, h3, h4 {
    text-shadow: 1px 1px #ffffffba;
  }
}
.image {
  @include microScreen {
    position: absolute !important;
    overflow: hidden;
    width: 250px;
    height: 250px;
    top: 47%;
    left: -130px;
    z-index: -1;
  }

  @include smallScreen {
    position: absolute !important;
    overflow: hidden;
    width: 250px;
    height: 250px;
    top: 47%;
    left: -130px;
    z-index: -1;
  }

  @include mediumScreen {
    width: 275px;
    height: 275px;
    transform: translateX(-50px);
  }

  @include mediumLargeScreen {
    width: 400px;
    height: 400px;
    transform: translateX(-60px);
  }

  @include largeScreen {
    width: 400px;
    height: 400px;
    transform: translateX(-40px);
  }

  @include extraLargeScreen {
    width: 550px;
    height: 550px;
    transform: translateX(-70px);
  }
}

.title {
  font: 9rem Monoton;
  line-height: 10rem;
  @include microScreen {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  @include smallScreen {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  @include mediumScreen {
    font-size: 6.5rem;
    line-height: 7rem;
  }

  @include mediumLargeScreen {
    font-size: 8rem;
    line-height: 9rem;
  }

  @include largeScreen {
    font-size: 8rem;
    line-height: 9rem;
  }

  @include extraLargeScreen {
    font-size: 9rem;
  }
}
