@import "../variables";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";

.grow {
  flex-grow: 1;
}

.logo-container {
  width: 128px;
  height: 128px;
  
  @include until($desktop) {
    width: 48px;
    height: 48px;
  }
}
